body{
    font-family: 'Muli', sans-serif;
}
a{
    color:inherit !important;
    text-decoration: none;
    text-decoration:none !important;
}
/* navbar */
.navbar{
    padding:12px;
    font-size: 25px;
    background-color:#FDF7EC;
}
.logo{
    font-family: 'Cute Font', cursive;
    font-size: 45px;
}
.nav-item{
    font-family: 'Muli', sans-serif;
}
.searchBut{
    color:white;
    padding: 6px !important;
    background-color:#E2C044;
}
input::-webkit-input-placeholder {
    color: #9FB1BC !important;
}
.signUpBut{
    background-color:#BFD7EA;
    color:white;
    font-weight: bold;
}
.signUpBut:hover{
    color:black;
    background-color: rgb(219, 236, 249);
}
.navbar-nav{
    font-weight: bold;
}
.profile{
    color:#BFD7EA !important;
}
/* end of navbar */

/* cover */
.cover{
    height:600px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
}
.title{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
.jumbotron{
    background-color: transparent;
    padding-top: 8%;
    line-height: 10px;
}
/* end of cover */
/* result */
#result{
    background-color: rgb(228, 244, 254);
}
#subtitle{
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
}
#subtitle h4{
    letter-spacing: 2px;
    font-family: 'Gugi', cursive;
    text-decoration: underline;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#rec li{
    position: relative;
    border-radius: 10px;
    background-color:  #FDF0D5;
    width:20%;
}
.imgbox{
    width:70%;
}
.rank{
    position: absolute;
    bottom:2%;
    right:10%;
    padding:10px;
    background-color: #D4D1B4;
    color:white;
    font-weight: bold;
}
.titles{
    font-weight: bold;
    font-family: 'Gugi', cursive;
}
/* end of result */

/* media querey */
@media(max-width: 992px){
    #rec li{
        width:38%;
    }
}
@media(max-width: 767px){
	#rec li{
        width:70%;
    }
    .imgbox{
        width:50%;
    }
}
